<tr>
  <td><%= image_tag("#{crypto_image_name}", class: 'avatar-sm rounded-circle me-2', alt: crypto_name) %></td>
  <td><span class="badge badge-soft-success mb-0"><%= "#{crypto_name} - #{crypto_id}" %></span></td>
  <td><span class="badge badge-soft-success mb-0"><%= crypto_price %></span></td>
</tr>